<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        table ,tr ,th ,td{
            border: 1px solid gray;
            padding: 10px;
        }
        
    </style>
</head>
<body>

  {% include 'navbar.html' %}


  
    <!---dynamic content-->

    {% block content %}

    {% endblock %}

<footer>
    contact us
</footer>
    
</body>
</html>